node_modules/
dist/
dist-ssr/
.astro/
.DS_Store

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
.env
.env.production
.env.local
.env.development

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Deployment
.vercel/
.netlify/
.wrangler/
